---
import { Picture } from '@astrojs/image/components'
import ButtonNavigation from '@components/ButtonNavigation.astro'
import type { PostList } from '@data/getPostList'
import postList from '@data/posts.json'
import Layout from '@layouts/Layout.astro'
import { getBlog } from '@libs/microcms'

import dayjs from 'dayjs'

export const getStaticPaths = async () => {
  const posts = postList.filter(
    (post) => post.postType === 'normal'
  ) as PostList
  return posts.map((post) => ({
    params: { slug: post.id },
  }))
}

/**
 * 記事取得
 */
const postID = String(Astro.params.slug)
const post = await getBlog(postID)

/**
 * 公開日
 */
const published = dayjs(post.date).format('MMM D, YYYY')

/**
 * 前後記事情報取得
 */
const [prevPost, nextPost] = (() => {
  const posts = postList as PostList
  const postIndex = posts.findIndex(
    (post) => post.postType === 'normal' && post.id === postID
  )
  return [posts[postIndex - 1], posts[postIndex + 1]]
})()
---

<Layout title="Welcome to Astro.">
  <main>
    <article>
      <div class="header section">
        <div class="header__left">
          {
            post.thumbnail && (
              <Picture
                src={post.thumbnail.url}
                widths={[879]}
                sizes="(max-width: 879px) 100vw, 879px"
                aspectRatio={16 / 9}
                alt=""
                class="header__thumbnail"
              />
            )
          }
          <h1 class="header__title">{post.title}</h1>
        </div>
        <div class="header__right">
          <span class="header__date">
            <time datetime={post.date}>{published}</time>
          </span>
        </div>
      </div>
      <div class="content-wrapper">
        <!-- <client-only>
        <list-headings
          ref="list_headings"
          :list="headingList"
          :class="{
            'list-headings--active':
              !$store.state.scrollState.toTopButton && inContent,
          }"
          :style="`top:calc(${$store.state.navHeight}px + 15px);`"
          class="list-headings"
        />
      </client-only> -->
        <!-- style="headingList.length === 0 ? `padding-right:15px;` : ``" -->
        <div
          class="section content"
          id="content"
          set:html={post.rawContent ? post.rawContent : post.content}
        >
        </div>
      </div>
    </article>
    <aside>
      <div class="navigation section">
        {
          prevPost ? (
            <a href={`/blog/${prevPost.id}/`} class="navigation__link">
              <ButtonNavigation direction="prev">
                {prevPost.title}
              </ButtonNavigation>
            </a>
          ) : (
            <span v-else />
          )
        }
        {
          nextPost ? (
            <a href={`/blog/${nextPost.id}/`} class="navigation__link">
              <ButtonNavigation direction="next">
                {nextPost.title}
              </ButtonNavigation>
            </a>
          ) : (
            <span v-else />
          )
        }
      </div>
    </aside>
    <!-- <button-share-line class="button-share-line" />
  <button-share-fb :count="sns_count.facebook" class="button-share-fb" />
  <button-share-twitter
    :count="sns_count.twitter"
    :content="`${post.title} | ふくいのふ`"
    class="button-share-twitter"
  /> -->
  </main>
</Layout>

<style is:global lang="scss">
  #content {
    @import 'src/styles/post_content';
  }
</style>
<style lang="scss">
  .header {
    position: relative;
    display: flex;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: $darkgreen;
      transform: rotateZ(3deg);
      transform-origin: center center;
    }

    &::before {
      @extend .header, :after;

      z-index: -2;
      background: $green;
      transform: rotateZ(6deg);
    }

    &__left {
      position: relative;
      z-index: 5;
      flex: 1 1 0%;
      width: 100%;
    }

    &__right {
      position: relative;
      z-index: 5;
      display: flex;
      align-items: flex-end;
      width: 5rem;
      padding-bottom: 3px;

      @include mq-down(sm) {
        width: get_vw(27);
      }
    }

    &__thumbnail {
      :global(img) {
        width: 100%;
        height: 50vw;
        max-height: 90vh;
        object-fit: cover;
      }
    }

    &__title {
      padding: 15px 30px 20px;
      margin-top: 5px;
      font-size: 4rem;
      font-weight: bold;
      color: white;
      background: $black;

      @include mq-down(sm) {
        padding: get_vw(15);
        font-size: get_vw(20);
      }
    }

    &__date {
      font-size: 3rem;
      color: white;

      // height: 100%;
      // width: 100%;
      text-align: right;
      white-space: nowrap;
      transform: translateX(-100%) rotateZ(90deg);
      transform-origin: bottom right;
      @include ff-gill-nova;

      @include mq-down(sm) {
        font-size: get_vw(16);
      }
    }
  }

  .content-wrapper {
    margin-top: 60px;
    background: $white;
  }

  .list-headings {
    position: fixed;
    right: 0;
    z-index: 996;
    max-width: calc((100vw - #{$pc-width}) / 2 + 180px);
    transition: transform 0.4s cubic-bezier(0.17, 0.92, 0.14, 0.96);
    transform: translateX(100%);

    &--active {
      transform: translateX(0);
    }

    @include mq-down(max) {
      max-width: 180px;
    }

    @include mq-down(md) {
      display: none;
    }
  }

  .content {
    position: relative;
    padding-top: 60px;
    padding-right: calc(180px + 30px);
    padding-bottom: 120px;
    white-space: pre-wrap;
    border-top: 5px solid $red;

    @include mq-down(md) {
      padding-right: 15px;
    }

    @include mq-down(sm) {
      padding-bottom: get_vw(60);
    }
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);

    @include mq-down(sm) {
      display: block;
      padding-bottom: 1px;
      background: $white;
      transform: none;
    }

    &__link {
      width: calc(50% - 7.5px);

      @include mq-down(sm) {
        width: 100%;
      }
    }
  }

  .button-share-twitter {
    position: fixed;
    right: 0;
    bottom: calc(68px + 15px);
    z-index: 990;

    @include mq-down(sm) {
      bottom: calc(#{get_vw(7.5)});
    }
  }

  .button-share-line {
    @extend .button-share-twitter;

    bottom: calc(68px + 15px + 42px + 15px);

    @include mq-down(sm) {
      bottom: calc(#{get_vw(7.5)} + #{get_vw(42)} + #{get_vw(7.5)});
    }
  }

  .button-share-fb {
    @extend .button-share-twitter;

    bottom: calc(68px + 15px + 42px + 15px + 42px + 15px);

    @include mq-down(sm) {
      bottom: calc(
        #{get_vw(7.5)} + #{get_vw(42)} + #{get_vw(7.5)} + #{get_vw(42)} + #{get_vw(
            7.5
          )}
      );
    }
  }
</style>
