---
import TopBlog from '@components/TopBlog.astro'
import TopContact from '@components/TopContact.vue'
import TopHero from '@components/TopHero.astro'
import TopProfile from '@components/TopProfile.astro'
import TopSkills from '@components/TopSkills.astro'
import TopWorks from '@components/TopWorks.astro'
import Layout from '@layouts/Layout.astro'
import {
  getBlogList,
  getPortfolioList,
  getProfile,
  getSkillList,
} from '@libs/microcms'

const [portfolios, profie, skills, blogPosts] = await Promise.all([
  getPortfolioList,
  getProfile,
  getSkillList,
  getBlogList,
])
---

<Layout title="Welcome to Astro.">
  <main>
    <TopHero class="top-hero" />
    <TopWorks class="top-portfolio" portfolio={portfolios} />
    <TopProfile class="top-profile" text={profie.content} avatar={profie.avatar}
    />
    <TopSkills class="top-skills" skills={skills} />
    <TopBlog class="top-blog" posts={blogPosts} />
    <TopContact class="top-contact" client:visible />
  </main>
</Layout>
