---
import { Picture } from '@astrojs/image/components'

export interface Props extends astroHTML.JSX.HTMLAttributes {
  post: {
    postType: 'Qiita' | 'normal'
    id: string
    url?: string
    title?: string
    date: string
    thumbnail?: {
      url: string
    }
  }
  odd?: boolean
  mini?: boolean
}
const {
  class: className,
  post,
  odd = false,
  mini = false,
} = Astro.props as Props

const formatDate = (date: string) => {
  const dateObj = new Date(date)
  return dateObj.toLocaleString('en-US', {
    year: 'numeric',
    month: 'short',
    day: 'numeric',
  })
}
---

<!-- {post.isQiita && <div
      class={`${odd && 'post--odd' } ${ mini && 'post--mini'} post`}
    >
      <a
        href={post.url}
        // :class="{ 'post__img--hover': hover }"
        class="post__img"
        target="_blank"
        rel="noopener"
        // @mouseover="hover = true"
        // @mouseleave="hover = false"
      >
        <picture v-if="mini">
          <source
            :srcset="`/qiita/${post.id}@lqip.jpg`"
            :data-srcset="`/qiita/${post.id}@200.webp 1x, /qiita/${post.id}@400.webp 2x`"
            type="image/webp"
          />
          <source
            :srcset="`/qiita/${post.id}@lqip.jpg`"
            :data-srcset="`/qiita/${post.id}@200.jpg 1x, /qiita/${post.id}@400.jpg 2x`"
            type="image/jpeg"
          />
          <img
            :data-src="`/qiita/${post.id}@200.jpg`"
            :src="`/qiita/${post.id}@lqip.jpg`"
            :alt="post.title"
            class="img lazyload"
          />
        </picture>
        <picture v-else>
          <source
            :data-srcset="`/qiita/${post.id}@400.webp 1x, /qiita/${post.id}@800.webp 2x`"
            :src="`/qiita/${post.id}@lqip.jpg`"
            type="image/webp"
          />
          <source
            :data-srcset="`/qiita/${post.id}@400.jpg 1x, /qiita/${post.id}@800.jpg 2x`"
            :src="`/qiita/${post.id}@lqip.jpg`"
            type="image/jpeg"
          />
          <img
            :data-src="`/qiita/${post.id}@400.jpg`"
            :src="`/qiita/${post.id}@lqip.jpg`"
            :alt="post.title"
            class="img lazyload"
          />
        </picture>
        <img
          :data-src="require('~/assets/img/qiita.svg')"
          class="post__from lazyload"
          alt="qiita"
        />
        <div v-if="parseInt(post.likes_count) > 0" class="post__lgtms">
          <img
            :data-src="require('~/assets/img/lgtm.svg')"
            class="post__lgtm lazyload"
            alt="LGTM"
          />{{ post.likes_count }}
        </div>
      </a>
      <div class="post__text">
        <div class="post__meta">
          <time :datetime="post.created_at" class="post__date">{{
            published(post.created_at)
          }}</time>
        </div>
        <a
          :href="post.url"
          style="display: block"
          target="_blank"
          rel="noopener"
          @mouseover="hover = true"
          @mouseleave="hover = false"
        >
          <div class="post__title">{{ post.title }}</div>
        </a>
      </div>
    </div>
  } -->
<div
  class={`${odd && 'post--odd'} ${mini && 'post--mini'} post ${className}`}
  data-watch-is-scrolled={JSON.stringify({
    rootMargin: mini ? '-100px' : '-150px',
  })}
>
  <a href={`/blog/${post.id}/`} style="display: block" class="post__img">
    {post.thumbnail && (
      <Picture
        src={
          post.thumbnail.url +
          (import.meta.env.DEV && post.postType === 'normal'
            ? '?w=800&fm=webp'
            : '')
        }
        widths={[200, 400, 800]}
        sizes={mini ? '200px' : '800px'}
        aspectRatio="50:31"
        alt=""
      />
    )}
  </a>
  <div class="post__text">
    <time datetime={post.date} class="post__date">{formatDate(post.date)}</time>
    <a
      href={`/blog/${post.id}/`}
      class="{ 'post__img--hover': hover }"
      style="display: block"
    >
      <div class="post__title">{post.title}</div>
    </a>
  </div>
</div>

<style lang="scss">
  .post {
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;

    @include mq-down(md) {
      display: block;
    }

    &--odd {
      flex-direction: row-reverse;

      .post {
        &__img {
          transform: perspective(250px) rotateY(-5deg);
          transform-origin: center right;

          @include mq-down(md) {
            margin-right: 0;
            margin-left: auto;
          }
        }

        &__text {
          transform: translateX(-50px);
        }

        &__date {
          padding-left: 15px;
        }

        &__title {
          padding-right: 0;
          padding-left: 15px;

          &::after {
            right: -90px;
            left: auto;
          }
        }
      }
    }

    &--mini {
      align-items: center;

      .post {
        &__img {
          width: 200px;
          height: 124px;
        }

        &__from {
          height: 1.5em;
        }

        &__lgtms {
          top: calc(15px + 1.5em + 7.5px);

          @include mq-down(sm) {
            top: calc(15px + 2em + 7.5px);
          }
        }
      }
    }

    &__img {
      position: relative;
      z-index: 1;
      display: block;
      width: 100%;
      max-width: 400px;
      height: 100%;
      max-height: 247px;
      overflow: hidden;
      transform: perspective(250px) rotateY(5deg);
      transform-origin: center left;

      @include mq-down(md) {
        margin-bottom: -5px;
      }

      &::after {
        display: block;
        width: 100%;
        height: 100%;
        padding-top: 62.5%;
        content: '';
      }

      :global(img) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s, filter 0.2s;
        transform-origin: center center;
      }

      &--hover {
        img {
          transform: scale(1.2);
        }
      }
    }

    &__from {
      position: absolute;
      top: 15px;
      left: 0;
      width: auto;
      height: 2em;
    }

    &__lgtms {
      position: absolute;
      top: calc(15px + 2em + 15px);
      left: 0;
      display: flex;
      align-items: center;
      width: auto;
      height: 2em;
      padding: 0 5px;
      font-size: 1.5rem;
      color: #55c500;
      background: white;
      border: 2px solid #55c500;
      border-left: none;
    }

    &__lgtm {
      width: 32px;
      height: auto;
      margin-right: 5px;
    }

    &__text {
      flex: 1 1 0%;
      opacity: 0;
      transition: transform 0.2s, opacity 0.2s;
      transform: translateX(50px);
    }

    &__meta {
      display: flex;
      justify-content: space-between;
    }

    &__date {
      // padding: 0 15px;
      @include ff-gill-nova;

      font-size: 1.9rem;
    }

    &__title {
      position: relative;
      padding: 10px 15px 0 0;
      font-size: 2rem;
      color: white;

      &::after {
        position: absolute;
        top: 0;
        left: -90px;
        z-index: -1;
        width: calc(100% + 90px);
        height: calc(100% + 10px);
        content: '';
        background: $black;
      }
    }
  }

  .intersected {
    .post {
      &__text {
        opacity: 1;
        transform: translateX(0);
      }

      &--odd {
        .post {
          &__text {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
  }
</style>
